@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #101726;
  background-color: #101726;
  font-family: "Poppins", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-container {
  background-color: #fff;
  text-align: center;
  padding: 1rem 25px;
  height: 250px;
  max-width: 410px;
  border-radius: 8px;
  transition: height 0.2s 0.05s ease;
  border: 2px solid #ff5757;
  box-shadow: rgba(232, 224, 224, 0.16) 0px 10px 36px 0px,
    rgba(219, 219, 219, 0.06) 0px 0px 0px 1px;
}

.qr-container.active {
  height: 500px;
}

.heading {
  margin-bottom: 10px;
}

.description {
  color: #484848;
  font-size: 14px;
}

.qr-container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #f1f1f1;
}

#qr-input {
  margin-bottom: 16px;
  width: 100%;
  max-width: 550px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  padding: 0.5rem;
  padding-left: 0.75rem;
  border-radius: 5px;
  font-size: 16px;
}

#qr-submit {
  background-color: #101726;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.qr-container_output {
  position: relative;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-output {
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
  opacity: 0;
  border: 1px solid #ccc;
  padding: 2rem 0;
  margin: 2rem auto;
  max-width: 200px;
  max-height: 200px;
}

.qr-container.active .qr-output {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.25s ease;
}

.error {
  margin-top: 5px;
  color: #ff5757;
  font-size: 14px;
}
